[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Carlos Quintana
	email = charly2045@icloud.com
[init]
	defaultBranch = main
